* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 0%;
	width: 100%;
}

.text_art{
	display: grid;
	grid-template-columns: auto auto;
	font-family: monospace;
	text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
	white-space: pre;
}

.text_art{
	
}

.snake_art{
	display: flex;
	justify-content: flex-start;
	color: #82e6b8;

}

.coffee_art{
	display: flex;
	justify-content: flex-end;
	color: #82e6b8;
}

.helptext{
	margin-top: 10px;
	text-align: center;
	border: 3px solid #372d3c;
	border-radius: 16px;
	background-color: #463b4c;
}

body{
	height: 100%;
	width: 100%;
	background-color: #545f5f;
	color: #FBF5F3;
	display: grid;
	justify-content: center;
}